/* Toggle Class */
.toggleButton{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    width:200px;
    height:200px;
    background:$color-box;
    text-align:center;
    cursor:pointer;
    user-select:none;

    &.on{
        background:$color-box-active;
    }
}

/* Tab Menu */
.tabMenu{
    position:relative;
    max-width:300px;
    display:flex;
    justify-content:space-between;
    li{
        text-align:center;
        width:30%;
        height:50px;
        line-height:50px;
        background:$color-box;
        cursor:pointer;
        &.on{
            background:$color-box-active;
        }
    }
}

.tabBox{
    max-width:300px;
    height:300px;
    line-height:300px;
    text-align:center;
    background:$color-box;
    margin-top:10px;
}

/* Slider */
.sliderWrap{
    max-width:830px;
    .slick-dots{
        bottom:20px;
        li{
            width:auto;
            height:auto;
            margin:0 5px;
            button{
                width:10px;
                height:10px;
                background:$color-white;
                border-radius:50%;
            }:before{
                display:none;
            }
        }.slick-active{
            button{
                background:#000;
            }
        }
    };
    
    .slick-arrow{
        z-index:10;
        &.slick-prev{
            left:10px;
        }
        &.slick-next{
            right:10px;
        }
    }
}