.nav{
    width:200px;
    padding:0 10px 0 0;
    box-sizing:border-box;
    border-right:1px solid #dcdcdc;
    ul{
        position:relative;
        li{
            position:relative;
            padding:10px 10px;
        }:after{
            content:'';
            display:inline-block;
            width:3px;
            height:3px;
            background:#666;
            position:absolute;
            left:0;
            top:50%;
            transform:translateY(-50%);
        }
    }
}